.container {
    width: 100vw;
    height: 100%;
    align-items: center;
}

.container img {
    display: block; 
    margin: auto;
    background-size: cover;
    object-fit: cover;
    width: 100%;
    height: 60vh;
    background-position: center;
    padding-top: 1em;
    border-radius: 4px;
}

.container h1 {
    padding-top: 0.1em;
    padding-bottom: 0.25em;
}

.container span {
    padding-top: 1em;
    display: inline-block;
    padding-bottom: 1em;
}